body {
  background: #3d96df;
  margin: 0px;
  margin: 0px 100px;
}

main {
  margin-left: 15px;
}

header {
  margin: 10px;
  width: -webkit-fill-available;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #b9cfe0;
}

article {
  margin-right: 15px;
  width: 35%;
  padding: 15px;
  /* border-radius: 5px;
  border: 1px solid #b9cfe0; */
}

header h1 {
  margin: 10px 10px;
}

header nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul a {
  text-decoration: none;
}

article {
  /* padding: 10px;
  margin: 10px;
  width: 50%; */
}

.display-inline-flex {
  /* to move them on row/column (reversed also) - inline-flex */
  /* to move them on left/right/center/stretch - grid */
  display: inline-flex;
}

article,
footer,
header {
  background: #70b5ef;
}
